fastapi>=0.104.0
uvicorn[standard]>=0.24.0
sqlalchemy>=2.0.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
alembic>=1.12.0
python-dotenv>=1.0.0
pydantic[email]>=2.0.0
pymysql>=1.1.2
asyncmy>=0.2.11
mysqlclient>=2.2.0
uliweb-alembic